albumentations==2.0.4
beautifulsoup4==4.13.3
clip==0.2.0
comet_ml==3.49.1
coremltools==8.2
csscompressor==0.9.5
dvclive==3.48.2
flatbuffers==24.3.25
hub_sdk==0.0.18
ipython==8.12.3
jsmin==3.0.1
keras==3.4.1
lap==0.5.12
lvis==0.5.3
matplotlib==3.10.0
mct_quantizers==1.5.2
minify_html==0.15.0
MNN==3.0.5
model_compression_toolkit==2.3.0
mss==10.0.0
ncnn==1.0.20241226
nibabel==5.3.2
nilearn==0.11.1
nncf==2.15.0
numpy==2.2.3
onnx==1.16.1
onnx2tf==1.26.8
onnxruntime==1.20.1
onnxslim==0.1.48
opencv_python==4.10.0.84
openvino==2025.0.0
paddle==1.0.2
pafy==0.5.5
pandas==2.2.3
Pillow==11.1.0
pillow_heif==0.21.0
psutil==6.0.0
py_cpuinfo==9.0.0
pycocotools==2.0.8
pytest==8.3.4
pytubefix==8.12.1
PyYAML==6.0.1
PyYAML==6.0.2
ray==2.42.1
Requests==2.32.3
roboflow==1.1.54
sahi==0.11.20
scikit_learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
sentry_sdk==2.22.0
Shapely==2.0.7
sony_custom_layers==0.3.0
streamlit==1.42.2
super_gradients==3.7.1
tensorflow==2.17.0
tensorflowjs==4.22.0
tensorrt==10.8.0.43
tflite_runtime==2.14.0
tflite_support==0.4.4
torch==1.13.1+cu116
torchvision==0.14.1+cu116
tqdm==4.66.4
transformers==4.49.0
tritonclient==2.54.0
ultralytics_thop==2.0.0
wandb==0.19.7
x2paddle==1.6.0
yt_dlp==2025.2.19

